<section class="users-section">
  <side-bar></side-bar>
  <div class="content">
    <h1 class="section-title">Usuarios</h1>
    <div class="action-bar">
      <div class="search-container">
        <i class="fa-solid fa-magnifying-glass search-icon" onclick="performSearch()"></i>
        <input type="text" class="search-input" placeholder="Buscar por Usuario, Rol o Telefono">
      </div>
    <div class="buttons">
      <button class="action-button"  (click)="addUser()">Agregar</button>
    </div>
    </div>
    <table class="users-table">
      <thead>
        <tr class="table-header">
          <th>Nombre</th>
          <th>Rol</th>
          <th>Telefono</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (item of this.usuario.lista; track $index) {
          <tr class="user-row">
            <td>{{item.nombre}}</td>
            <td>{{item.rol}}</td>
            <td>{{item.telefono}}</td>
            <td class="status-container">
              <label class="switch" >
                <input type="checkbox" [checked]="item.estado" (click)="openConfirmDialog(item.estado)">
                <span class="slider round"></span>
              </label>
              <span class="status-label">Activo</span>
            </td>
            <td>
              <div class="action-buttons">
                <!-- <i class="add-icon fa-solid fa-circle-plus" (click)="addUser()"></i> -->
                <i class="edit-icon fa-regular fa-pen-to-square" (click)="editUser(item)"></i>
                <i class="delete-icon fa-solid fa-trash" (click)="openConfirmDialog(item.estado)"></i>
              </div>
            </td>
          </tr>
        }

        <!-- Más filas según sea necesario -->
      </tbody>
    </table>
    <!-- Componente de Paginación -->
  <div class="pagination-container">
    <p-paginator
      [rows]="rows"
      [totalRecords]="usuario.totalRegistros"
      [rowsPerPageOptions]="[5, 10, 20]"
      (onPageChange)="onPageChange($event)"
    ></p-paginator>
  </div>
  </div>
</section>

<!-- Modal para agregar/editar usuario -->
<div class="dialog-overlay" [ngClass]="{'show': isModalOpen}">
  <div class="add-user-dialog">
    <span class="close-button" (click)="closeDialog()">&times;</span>
    <h2 class="dialog-title">{{modalTitle}}</h2>
    <form [formGroup]="formUsuario" (submit)="accionesModal()">
      <div class="image-upload-container">
        <div class="upload-image-preview">
          <i class="fa-regular fa-user"></i>
        </div>
        <div class="upload-instructions">
          <p class="drag-instruction">Drag image here or</p>
          <span class="browse-link" (click)="triggerFileInput()">Browse image</span>
          <input  type="file" id="fileInput" class="hidden-file-input" (change)="handleFileInput($event)">
        </div>
      </div>


       <!-- Campo Nombres -->
       <div class="form-row">
        <label for="nombres" class="form-label">Nombres</label>
        <input formControlName="nombre" type="text" id="nombres" class="form-input" placeholder="Ingrese sus nombres" required>
      </div>
        <!-- Campo Email -->
      <div class="form-row">
        <label for="email" class="form-label">Email</label>
        <input formControlName="email" type="email" id="email" class="form-input" placeholder="Enter your email" required>
      </div>

      <!-- Campo Password -->
      <div class="form-row">
        <label for="password" class="form-label">Password</label>
        <input formControlName="password" type="password" id="password" class="form-input" placeholder="Enter your password" required>
      </div>

      <!-- Campo Role -->
      <div class="form-row">
        <label for="role" class="form-label">Role</label>
        <select formControlName="role" type="text" id="role" class="form-input" placeholder="Enter your role" required>
          @for (item of roles; track $index) {
            <option [value]="item.idRol">{{item.nombre}}</option>
          }
            <!-- <option [value]="false">Inactivo</option> -->


        </select>
      </div>

      <!-- Campo Número de Contacto -->
      <div class="form-row">
        <label for="contact" class="form-label">Telefono</label>
        <input formControlName="contact" type="tel" id="contact" class="form-input" placeholder="Enter your contact number" required>
      </div>
      <div class="action-buttons">
        <button type="button" class="button discard-button" (click)="closeDialog()">Descartar</button>
        <button type="submit" class="button add-user-button">{{modalButtonText}}</button>
      </div>
    </form>
  </div>
</div>
<!-- Confirm Dialog -->
<div class="confirm-dialog-overlay" [ngClass]="{'show': isConfirmDialogOpen}">
  <div class="confirm-dialog">
    <h2 id="confirm-dialog-title" class="confirm-dialog-title">{{ confirmDialogTitle }}</h2>
    <p class="confirm-dialog-description">{{ confirmDialogDescription }}</p>
    <div class="confirm-dialog-button-container">
      <button class="button confirm-dialog-confirm-button" (click)="confirmDelete()">Sí</button>
      <button class="button confirm-dialog-cancel-button" (click)="closeConfirmDialog()">No</button>
    </div>
  </div>
</div>
<p-toast/>
