
<div class="container">
  <ecommerce-nav-bar></ecommerce-nav-bar>
  <main>
    <section class="locales-section">
      <div class="locales-container">
          <h1 class="main-title">LOCALES DE SEÑORIAL DISPONIBLES</h1>
          <p class="subtitle">Encuentra el local más cercano</p>
          <div class="local-card">
              <h2 class="local-title">Local de Pio Pata</h2>
              <div class="local-info">
                  <div class="info-container">
                      <p class="address">Av. Circuito los Heroes</p>
                      <p class="phone">Teléfono: 999-999-999</p>
                      <div class="pickup-info">
                          <i class="fa-solid fa-store pickup-icon"></i>
                          <p>Recojo en Tienda</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="local-card">
              <h2 class="local-title">Local de Chilca</h2>
              <div class="local-info">
                  <div class="info-container">
                      <p class="address">Av. Circuito los Heroes</p>
                      <p class="phone">Teléfono: 999-999-999</p>
                      <div class="pickup-info">
                          <i class="fa-solid fa-store pickup-icon"></i>
                          <p>Recojo en Tienda</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  </main>
  <footer-ecommerce></footer-ecommerce>
  </div>

