<section class="products-section">
  <side-bar></side-bar>
  <div class="content">
    <h1 class="section-title">Productos</h1>
    <div class="action-bar">
      <!-- <div class="search-container">
        <i class="fa-solid fa-magnifying-glass search-icon" ></i>
        <input type="text" class="search-input" placeholder="Buscar por Producto" >
      </div> -->
    <div class="buttons">
      <button class="action-button"  (click)="addProduct()">Agregar</button>
    </div>
    </div>
    <table class="products-table">
      <thead>
        <tr class="table-header">
          <th>Producto</th>
          <th>Descripción</th>
          <th>Precio</th>
          <th>Derivar</th>
          <th>Categoría</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (item of product.lista; track $index) {
          <tr class="product-row">
            <td>{{item.nombreProducto}}</td>
            <td>{{item.detalleProducto}}</td>
            <td>{{item.precioVenta|currency:'S/'}}</td>
            <td>{{item.derivar}}</td>
            <td>{{item.categoria}}</td>
            <td>
              <div class="action-buttons">
               <!--  <i class="add-icon fa-solid fa-circle-plus" (click)="addProduct()"></i> -->
                <i class="edit-icon fa-regular fa-pen-to-square" (click)="editProduct(item)"></i>
                <!-- <i class="delete-icon fa-solid fa-trash" (click)="openConfirmDialog()"></i> -->
              </div>
            </td>
          </tr>
        }

        <!-- Más filas según sea necesario -->
      </tbody>
    </table>
    <!-- Componente de Paginación -->
    <div class="pagination-container">
      <p-paginator
        [rows]="rows"
        [totalRecords]="product.totalRegistros"
        [rowsPerPageOptions]="[5, 10, 20]"
        (onPageChange)="onPageChange($event)"
      ></p-paginator>
    </div>
  </div>
</section>

<!-- Dialog ADD & EDIT -->
<div class="dialog-overlay" [ngClass]="{'show': isModalOpen}">
  <div class="add-product-dialog">
    <span class="close-button" (click)="closeDialog()">&times;</span>
    <h2 class="dialog-title">{{modalTitle}}</h2>
    <form [formGroup]="formProduct" (submit)="productAcciones()"  >
      <div class="image-upload-container">
        <div class="upload-image-preview">
          <i class="fa-regular fa-image"></i>
        </div>
        <div class="upload-instructions">
          <p class="drag-instruction">Drag image here or</p>
          <span class="browse-link" (click)="triggerFileInput()">Browse image</span>
          <input  type="file" id="fileInput" (change)="handleFileInput($event)" hidden />
        </div>
      </div>
      <div class="form-row">
        <label for="productName" class="form-label">Product Name</label>
        <input formControlName="nombre" type="text" id="productName" class="form-input" placeholder="Enter product name" required>
      </div>
      <div class="form-row">
        <label for="description" class="form-label">Descripcion</label>
        <input formControlName="descripcion" type="text" id="description" class="form-input" placeholder="Enter your description" required>
      </div>
      <div class="form-row">
        <label for="category" class="form-label">Categoria</label>
        <select formControlName="idCategoria" type="text" id="category" class="form-input" placeholder="Select product category" required>
          @for (item of categorias; track $index) {
            <option [value]="item.idCategoria">{{item.nombre}}</option>
          }
          <!-- <option [value]="'Horno'">Horno</option>
           <option [value]="'Cocina'">Cocina</option> -->
        </select>
      </div>
     <!--  <div class="form-row">
        <label for="printPlace" class="form-label">Imprimir En</label>
        <input formControlName="derivar" type="text" id="printPlace" class="form-input" placeholder="Select place of print" required>
      </div> -->

 <div class="form-row">
  <label for="printPlace" class="form-label">Imprimir En</label>
  <select formControlName="derivar" type="text" id="printPlace" class="form-input" placeholder="Select place of print" require>
    <option [value]="'Horno'">Horno</option>
    <option [value]="'Cocina'">Cocina</option>
  </select>
</div>
      <div class="form-row">
        <label for="purchasePrice" class="form-label">Precio Compra</label>
        <input formControlName="precioVenta" type="text" id="purchasePrice" class="form-input" placeholder="Enter buying price" required>
      </div>
      <div class="action-buttons">
        <button type="button" class="button discard-button" (click)="closeDialog()">Cancelar</button>
        <button  type="submit" class="button add-product-button">{{modalButtonText}}</button>
      </div>
    </form>
  </div>
</div>
<!-- Confirm Dialog -->
<div class="confirm-dialog-overlay" [ngClass]="{'show': isConfirmDialogOpen}">
  <div class="confirm-dialog">
    <h2 id="confirm-dialog-title" class="confirm-dialog-title">¿Quieres eliminar el Producto?</h2>
    <p class="confirm-dialog-description">¿Estás seguro que quieres eliminarlo?</p>
    <div class="confirm-dialog-button-container">
      <button class="button confirm-dialog-confirm-button" (click)="confirmDelete()">Sí</button>
      <button class="button confirm-dialog-cancel-button" (click)="closeConfirmDialog()">No</button>
    </div>
  </div>
</div>
<p-toast/>
