<div class="main-container">
  <side-bar></side-bar>
  <main class="content">
    <section class="order-summary">
      <div class="order-content-wrapper">
        <div class="order-content">
          <div class="order-details">
            <div class="order-items">
              <div class="table-info">
                <div class="table-number">{{local.nombre}}</div>
                <div class="table-total">S/. {{local.precio | number:'1.2-2'}}</div>
              </div>
              @for (item of mesaDetalle; track $index) {

                <div class="order-item">
                  <div class="item-name"> {{item.cantidadItems}} x {{item.nombreProducto}}</div>
                  <div class="item-price">S/. {{item.subTotal | number:'1.2-2'}}</div>
                </div>
              }

              <div class="order-separator"></div>
            </div>
          </div>
        </div>
        <footer class="order-summary-footer">
          <div class="total-amount">Monto Total: S/. {{local.precio | number:'1.2-2' }}</div>
          <div class="attendant-info">Atendido Por : Victor</div>
          <div class="receipt-options">
            <div
              class="receipt-option"
              [class.receipt-option-active]="selectedReceiptOption === 'Factura'"
              (click)="selectOption('Factura')"
              routerLink="/invoice"
            >
              Factura
            </div>
            <div
              class="receipt-option"
              [class.receipt-option-active]="selectedReceiptOption === 'Boleta'"
              (click)="selectOption('Boleta')"
              routerLink="/invoice"
            >
              Boleta
            </div>
          </div>
        </footer>
      </div>
    </section>
  </main>
</div>
<p-toast/>
