<section class="categories-section">
  <side-bar></side-bar>
  <div class="content">
    <h1 class="section-title">Categorias</h1>
    <div class="action-bar">
    <div class="search-container" *ngIf="isTableView">
      <i class="fa-solid fa-magnifying-glass search-icon" onclick="performSearch()"></i>
      <input type="text" class="search-input" placeholder="Buscar por Categoria o SubCategoria">
    </div>
    <div class="view-toggle">
      <button *ngIf="!isTableView" class="view-toggle-button" (click)="switchToTableView()">Ir a Tabla</button>
      <button *ngIf="isTableView" class="view-toggle-button" (click)="switchToVisualView()">Ir a Cuadro</button>
    </div>
    </div>
    <!-- Vista de Tabla -->
    <div *ngIf="isTableView">
      <table class="categories-table">
        <thead>
          <tr class="table-header">
            <th>Categoria</th>
            <th>SubCategoria</th>
            <!-- <th>Estado</th> -->
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr class="category-row" *ngFor="let category of categorias">
            <td>{{category.categoria}}</td>
            <td>{{category.subcategorias}}</td>
            <!-- <td class="status-container">
              <label class="switch">
                <input type="checkbox" [checked]="category.estado">
                <span class="slider round"></span>
              </label>
              <span class="status-label">{{category.estado ? 'Activo' : 'Inactivo'}}</span>
            </td> -->
            <td>
              <div class="action-buttons">
                <!-- <i class="edit-icon fa-regular fa-pen-to-square" (click)="openEditDialog(category)" ></i> -->
                <i class="edit-icon fa-solid fa-search" (click)="switchToVisualView()"></i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- Componente de Paginación -->

      <div class="pagination-container">
        <p-paginator
          [rows]="rows"
          [totalRecords]="totalRecords"
          [rowsPerPageOptions]="[5, 10, 20]"
          (onPageChange)="onPageChange($event)"
        ></p-paginator>
      </div>
    </div>

    <!-- Vista de Cuadro -->
    <div *ngIf="!isTableView" class="categories-container">
      <div class="categories-wrapper">
        <header class="category-header">
          <h2 class="category-header-title">Sub Categoria</h2>
          <button class="category-button" (click)="openAddDialog()">
            <i class="fa-solid fa-circle-plus category-icon"></i>
            <span>SubCategoria</span>
          </button>
        </header>

        <div class="categories-list">
          @for (item of subCategoria; track $index) {
            <div class="category-item">

              <h3 class="category-name">{{ item.nombre }}</h3>
                <div class="category-actions">
                  <label class="switch">
                    <input type="checkbox" [checked]="item.estado">
                    <span class="slider round"></span>
                  </label>
                  <i class="edit-icon fa-regular fa-pen-to-square" (click)="openEditDialog(item)"></i>
                  <i class="delete-icon fa-solid fa-ellipsis-vertical kebab-menu" (click)="openConfirmDialog(item)"></i>
                </div>
            </div>
          }

        </div>
      </div>
    </div>

    <!-- Add/Edit Category Dialog -->
     <form [formGroup]="formCategoria">
      <div class="dialog-overlay" [ngClass]="{'show': isAddEditDialogOpen}">
        <div class="add-category-dialog">
          <span class="close-button" (click)="closeAddEditDialog()">&times;</span>
          <h2 class="dialog-title">{{ dialogTitle }}</h2>
          <div class="form-row">
            <label class="form-label">Nombre</label>
            <input formControlName="nombre" class="form-input" placeholder="Nombre de la subcategoría" />
          </div>
          <div class="form-row">
            <label class="form-label">Categoria</label>
            <select formControlName="idCategoriaPadre" class="form-input" placeholder="Nombre de la subcategoría">
              @for (item of subCategoria; track $index) {
                <option [value]="item.idCategoriaPadre">{{item.nombre}}</option>
              }
            </select>
          </div>
          <div class="form-row">
            <label class="form-label">Estado</label>
            <select class="form-input">
              <option [value]="true">Activo</option>
              <option [value]="false">Inactivo</option>
            </select>
          </div>
          <div class="action-buttons">
            <button class="button discard-button" (click)="closeAddEditDialog()">Cancelar</button>
            <button class="button add-category-button" (click)="saveCategory()">{{ dialogActionButton }}</button>
          </div>
        </div>
      </div>

     </form>

    <!-- Confirm Dialog -->
    <div class="confirm-dialog-overlay" [ngClass]="{'show': isConfirmDialogOpen}">
      <div class="confirm-dialog">
        <h2 id="confirm-dialog-title" class="confirm-dialog-title">¿Quieres eliminar la categoría?</h2>
        <p class="confirm-dialog-description">¿Estás seguro que quieres eliminarla?</p>
        <div class="confirm-dialog-button-container">
          <button class="button confirm-dialog-confirm-button" (click)="confirmDelete()">Sí</button>
          <button class="button confirm-dialog-cancel-button" (click)="closeConfirmDialog()">No</button>
        </div>
      </div>
    </div>
  </div>
</section>
<p-toast/>
