<section class="error-container">
    <div class="error-image-container">
      <img src="./5.svg" alt="">
      <img src="./FloorBurger2.svg" alt="">
      <img src="./FloorBurger2.svg" alt="">
    </div>
    <h1 class="error-title">Page not Found</h1>
    <p class="error-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Facilisis viverra laoreet lorem diam sed egestas tincidunt dolor.</p>
    <a href="/" class="home-button" tabindex="0">Back to home</a>
  </section>