<section class="meal-deal">
    <div class="meal-deal-content">
      <div class="meal-info">
        <div class="meal-details">
          <h2 class="meal-title">{{data.nombreProducto}}</h2>
          <p class="meal-description">{{data.detalleProducto}}</p>
          <p class="meal-price">{{data.precioVenta | currency:'PEN '}}</p>
        </div>
      </div>
      <div class="meal-image">
        <div class="image-container" (click)="enviarProducto(data)">
          <div class="image-wrapper" >
            <img loading="lazy" [src]="data.rutaImagen" class="foreground-image" alt="Meal deal items: McChicken, Big Mac, and Royal Cheeseburger" />
          </div>
        </div>
        <div class="rounded-container" (click)="enviarProducto(data)">
          <i class="fa-solid fa-circle-plus plus-icon"></i>
        </div>
      </div>
    </div>
  </section>
