<section class="meal-deal">
    <div class="meal-deal-content">
      <div class="meal-info">
        <div class="meal-details">
          <h2 class="meal-title">The classics for 3</h2>
          <p class="meal-description">1 McChicken, 1 Big Mac, 1 Royal Cheeseburger,</p>
          <p class="meal-price">PEN 23.10</p>
        </div>
      </div>
      <div class="meal-image">
        <div class="image-container">
          <div class="image-wrapper">
            <img loading="lazy" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZpQ9NUgTcIJNgpVlQzZCUraE15UGGKrargA&s" class="foreground-image" alt="Meal deal items: McChicken, Big Mac, and Royal Cheeseburger" />
          </div>
        </div>
        <div class="rounded-container">
          <i class="fa-solid fa-circle-plus plus-icon"></i>
        </div>
      </div>
    </div>
  </section>
  