<header class="header">
  <div class="nav-bar">
    <div class="left-section">
      <button class="menu-icon-container">
        <img src="./menu-burger.svg" alt="menu" class="menu-icon">
      </button>
      <div class="logo">
        <img src="./SenorialLogoBW.svg" alt="Logo" class="svg-icon">
      </div>
    </div>
    <div class="auth-buttons">
      <button type="button" (click)="openLoginBox()" class="btn btn-login">
        <img src="./user-icon.svg" alt="user" class="user-icon">
        Ingresar
      </button>

      <button href="#" class="btn btn-shopping-cart">
        <img src="./shopping-cart.svg" alt="menu" class="shopping-cart-icon">
      </button>
    </div>
  </div>
</header>

