<header class="header">
  <div class="nav-bar">
    <div class="left-section">
      <div class="menu-icon-container">
        <img src="./menu-burger.svg" alt="menu" class="menu-icon">
      </div>
      <div class="logo">
        <img src="./SenorialLogoBW.svg" alt="Logo" class="svg-icon">
      </div>
    </div>
    <div class="auth-buttons">
      <a href="#" class="btn btn-login">
        <img src="./user-icon.svg" alt="user" class="user-icon">
        Ingresar
      </a>
      <a href="#" class="btn btn-shopping-cart">
        <img src="./shopping-cart.svg" alt="menu" class="shopping-cart-icon">
      </a>
    </div>
  </div>
</header>
