<footer class="footer-container">
    <div class="footer-content">
      <div class="footer-sections">
        <img loading="lazy" src="./SenorialLogoBW.svg" class="footer-logo" alt="Company logo" />
        <div class="contact-info">
          <h2 class="contact-title">Contacto</h2>
          <p class="contact-details">
            +51 985-851-866 <br /> {{email}}
          </p>
          <p class="contact-location">Huancayo</p>
        </div>
        <div class="newsletter-section">
          <h2 class="newsletter-title">No te pierdas las promociones</h2>
          <form class="newsletter-form">
            <label for="emailInput" class="visually-hidden">Email Address</label>
            <input type="email" id="emailInput" class="email-input" placeholder="Email Address" aria-label="Email Address" />
            <button type="submit" class="submit-button">Regístrate</button>
          </form>
        </div>
      </div>
      <hr class="footer-divider" />
      <div class="footer-bottom">
        <div class="payment-methods">
          <h3 class="payment-title">Métodos de pago:</h3>
          <img loading="lazy" src="./visa.svg" class="payment-icon" alt="Visa" />
          <img loading="lazy" src="./mastercard.svg" class="payment-icon" alt="MasterCard" />
        </div>
        <div class="social-media">
          <h3 class="social-title">Síguenos en:</h3>
          <a href="#" aria-label="Follow us on WhatsApp" class="social-icon-container">
            <i class="fa-brands fa-whatsapp social-icon"></i>
          </a>
          <a href="#" aria-label="Follow us on Instagram" class="social-icon-container">
            <i class="fa-brands fa-instagram social-icon"></i>
          </a>
          <a href="#" aria-label="Follow us on Facebook" class="social-icon-container">
            <i class="fa-brands fa-facebook-f social-icon"></i>
          </a>
        </div>
      </div>
    </div>
  </footer>