@import "@fortawesome/fontawesome-free/css/all.css";

$primary-color    : #181C2E;
$secondary-color  : #FF910F;
$white-color      : #ffffff;
$lato-font        : 'Lato', sans-serif;
$poppins-font     : 'Poppins', sans-serif;

.contact-container {
  display           : flex;
  justify-content   : center;
  background-color  : $primary-color;
  height            : 72px;
  align-items       : center;
  width             : 100%;
  padding           : 0 24px;
}

.contact-content {
  display           : flex;
  align-items       : center;
  width             : 100%;
  max-width         : 1200px;
  justify-content   : space-around;
  gap               : 40px;
  height            : 72px;
}

.contact-details, .contact-hours-container, .menu-content {
  display           : flex;
  align-items       : center;
  gap               : 30px;
}

.contact-button {
  border-radius     : 40px;
  background-color  : $secondary-color;
  padding           : 8px 16px;
  font-size         : 18px;
  font-weight       : 700;
  border            : none;
  color             : $white-color;
  cursor            : pointer;
}

.contact-hours {
  margin            : 0;
  font-size         : 16px;
  font-weight       : 500;
  color             : $white-color;
  font-family       : $poppins-font;
}

.divider {
  color             : $white-color;
  font-size         : 18px;
}

.phone-box {
  display           : flex;
  align-items       : center;
  gap               : 10px;
}

.phone-icon {
  font-size         : 24px;
  color             : $white-color;
}

.phone-number {
  font-size         : 16px;
  color             : $white-color;
  font-family       : $poppins-font;
}

.menu-content {
  display           : flex;
  gap               : 20px; /* Ajustar el espacio entre los elementos */
}

.menu-button {
  border-radius     : 40px;
  background-color  : $secondary-color;
  padding           : 8px 16px;
  font-size         : 18px;
  font-weight       : 700;
  border            : none;
  color             : $white-color;
  cursor            : pointer;
}

/* Móviles y Tabletas (320px a 1024px) */
@media (max-width: 1024px) {
  .contact-content {
    display: flex;
    justify-content: center; /* Centramos el botón en el contenedor */
    gap: 0; /* Eliminamos el espacio extra */
  }

  .contact-details{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-hours-container,
  .menu-content,
  .phone-box,
  .divider {
    display: none; /* Ocultamos todos los elementos excepto el botón de contacto */
  }

  .contact-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
  }
}

