<section class="contact-container">
  <div class="contact-content">
      <div class="contact-details">
          <button class="contact-button">CONTACTANOS</button>
      </div>
      <div class="contact-hours-container">
          <p class="contact-hours">DE LUNES A VIERNES</p>
      </div>
      <div class="divider">|</div>
      <div class="menu-content">
          <div class="phone-box">
              <i class="fas fa-phone phone-icon"></i>
              <p class="phone-number">985-851-866</p>
          </div>
          <button class="menu-button">MENU</button>
      </div>
  </div>
</section>
