<div class="container">
<ecommerce-nav-bar></ecommerce-nav-bar>
<banner-ecommerce></banner-ecommerce>
<ecommerce-categories-bar (enviarFiltro)="optenerFiltro($event)" (enviarSub)="recibirSubCategoria($event)"></ecommerce-categories-bar>
<main>
  @for (item of products.lista; track $index) {
  <card-product (produto)="verCarga($event)"  [Producto]="item"></card-product>
  }

</main>
<!-- Componente de Paginación -->
<div class="pagination-container">
 <p-paginator
   [rows]="rows"
   [totalRecords]="products.totalRegistros"
   [rowsPerPageOptions]="[5, 10, 20]"
   (onPageChange)="onPageChange($event)"
 ></p-paginator>
 <div class="chatbot">
  <chatbot></chatbot>
</div>
</div>
<footer-ecommerce></footer-ecommerce>
</div>

<p-toast/>

