<div class="main-container">
  <side-bar></side-bar>
  <div class="content">
    <section class="cash-register-container">
      <h1 class="cash-register-title">Caja</h1>
      <nav class="tab-container">
        <a class="tab" [class.tab-active]="activeTab === 'abrir'" (click)="selectTab('abrir')">Abrir Caja</a>
        <a class="tab" [class.tab-active]="activeTab === 'historial'" (click)="selectTab('historial')">Historial de Caja</a>
        <a class="tab" [class.tab-active]="activeTab === 'cerrar'" (click)="selectTab('cerrar')">Cerrar Caja</a>
      </nav>

      <!-- Abrir Caja -->
      <ng-container *ngIf="activeTab === 'abrir'">
        <button class="open-register-btn" (click)="openRegister()">Aperturar Caja</button>
        <div class="table-header">
          <div class="table-cell">Name</div>
          <div class="table-cell">Hora</div>
          <div class="table-cell">Cantidad Inicial</div>
        </div>
        <div class="table-row">
          <div class="table-cell">Nombre</div>
          <div class="table-cell">Sin datos</div>
          <div class="table-cell">0</div>
        </div>
        <div class="pagination-container">
          <p-paginator
            [rows]="rows"
            [totalRecords]="totalRecords"
            [rowsPerPageOptions]="[5, 10, 20]"
            (onPageChange)="onPageChange($event)"
          ></p-paginator>
        </div>
      </ng-container>

      <!-- Historial de Caja -->
      <ng-container *ngIf="activeTab === 'historial' && !showDetails">
        <section class="history-container">
          <h2 class="history-title">Historial de caja</h2>
          <div class="history-table-header">
            <div class="history-table-cell">ID</div>
            <div class="history-table-cell">Creado el</div>
            <div class="history-table-cell">Creado por</div>
            <div class="history-table-cell">Amount</div>
            <div class="history-table-cell">Transacciones</div>
            <div class="history-table-cell">Acción</div>
          </div>
          <div class="history-table-row" (click)="viewDetails({id: '#20462', date: '13/05/2022', createdBy: 'Matt Dickerson', amount: '$400.95', transactions: '40'})">
            <div class="history-table-cell">#20462</div>
            <div class="history-table-cell">13/05/2022</div>
            <div class="history-table-cell">Matt Dickerson</div>
            <div class="history-table-cell">$400.95</div>
            <div class="history-table-cell">
              <div class="transaction-count">40</div>
            </div>
            <div class="history-table-cell">
              <i class="fa-solid fa-magnifying-glass action-icon"></i>
            </div>
          </div>

          <div class="pagination-container">
           <p-paginator
             [rows]="rows"
             [totalRecords]="totalRecords"
             [rowsPerPageOptions]="[5, 10, 20]"
             (onPageChange)="onPageChange($event)"
           ></p-paginator>
         </div>
        </section>
                <!-- Componente de Paginación -->
      </ng-container>

      <!-- Detalle de Caja -->
      <ng-container *ngIf="showDetails">
        <div class="cash-register-detail-container">
          <div class="detail-header">
            <button (click)="backToHistory()" class="back-button">
              <i class="fa-solid fa-angle-left"></i> Regresar
            </button>
            <h2 class="subtitle">Detalle de caja</h2>
          </div>
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Cliente</th>
                <th>Monto</th>
                <th>Transacciones</th>
                <th>Recolectado por<br><span class="sub-header">Fecha de pago</span></th>
                <th>Registrado por<br><span class="sub-header">Registrador el</span></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ selectedCashRegister.id }}</td>
                <td>{{ selectedCashRegister.createdBy }}</td>
                <td>{{ selectedCashRegister.amount }}</td>
                <td><span class="status-badge status-badge-success">Efectivo</span></td>
                <td>Felix <br><span class="sub-text">27/07/2023</span></td>
                <td>Victor Abregu <br><span class="sub-text">27/07/2023 16:07:22</span></td>
              </tr>
              <!-- Más filas aquí -->
            </tbody>
          </table>

        </div>
        <!-- Componente de Paginación -->
 <div class="pagination-container">
  <p-paginator
    [rows]="rows"
    [totalRecords]="totalRecords"
    [rowsPerPageOptions]="[5, 10, 20]"
    (onPageChange)="onPageChange($event)"
  ></p-paginator>
</div>
      </ng-container>

      <!-- Cerrar Caja -->
      <ng-container *ngIf="activeTab === 'cerrar'">
        <section class="detailed-count">
          <div class="content-wrapper">
            <button class="count-label"(click)="openDetailCount()">Conteo detallado</button>
            <h2 class="section-title">Arqueo de caja</h2>
            <div class="stats-container">
              <div class="stats-grid">
                <article class="stat-card">
                  <div class="icon-wrapper">
                    <i class="fa-solid fa-money-bill-wave stat-icon" alt="Total Ingresos Icon"></i>
                  </div>
                  <h3 class="stat-title" style="color: #1570ef;">Total Ingresos</h3>
                  <p class="stat-value">S/. 150.00</p>
                </article>
                <article class="stat-card">
                  <div class="icon-wrapper">
                    <i class="fa-solid fa-cash-register stat-icon" alt="Saldo de Caja Icon"></i>
                  </div>
                  <h3 class="stat-title" style="color: #e19133;">Saldo de Caja</h3>
                  <p class="stat-value">S/.140.00</p>
                </article>
                <article class="stat-card">
                  <div class="icon-wrapper">
                    <i class="fa-solid fa-circle-dollar-to-slot stat-icon" alt="Sobrante Icon"></i>
                  </div>
                  <h3 class="stat-title" style="color: #845ebc;">Sobrante</h3>
                  <p class="stat-value">S/.0.00</p>
                </article>
                <article class="stat-card">
                  <div class="icon-wrapper">
                    <i class="fa-solid fa-coins stat-icon" alt="Faltante Icon"></i>
                  </div>
                  <h3 class="stat-title" style="color: #f36960;">Faltante</h3>
                  <p class="stat-value">S/.10.00</p>
                </article>
              </div>
            </div>
            <div class="summary-container">
              <div class="summary-row">
                <h3 class="summary-label">Total de Monedas y Billetes</h3>
                <div class="summary-value">
                  <span class="currency">S/.</span>
                  <input type="text" value="0.00" class="amount">
                </div>
              </div>
              <div class="summary-row">
                <h3 class="summary-label">Saldo de Caja</h3>
                <div class="summary-value">
                  <span class="currency">S/.</span>
                  <input type="text" value="0.00" class="amount">
                </div>
              </div>
              <div class="summary-row">
                <h3 class="summary-label">Sobrante</h3>
                <div class="summary-value">
                  <span class="currency">S/.</span>
                  <input type="text" value="0.00" class="amount">
                </div>
              </div>
              <div class="summary-row">
                <h3 class="summary-label">Faltante</h3>
                <div class="summary-value">
                  <span class="currency">S/.</span>
                  <input type="text" value="0.00" class="amount">
                </div>
              </div>
            </div>
          </div>
        </section>
      </ng-container>
    </section>

    <!-- DIALOG APERTURAR CAJA -->
    <div class="modal-overlay" *ngIf="isModalOpen" (click)="closeModal()">
      <section class="cash-register-modal" (click)="$event.stopPropagation()">
        <h2 class="modal-title">Abrir Caja</h2>
        <p class="modal-description">Para registrar ventas necesita aperturar la caja</p>
        <p class="modal-question">¿Desea Aperturar una nueva caja?</p>
        <form>
          <label for="cashier-name" class="form-label">Nombre</label>
          <input id="cashier-name" class="form-input" type="text" placeholder="Nombre de quien apertura la caja" aria-label="Nombre de quien apertura la caja">
          <label for="initial-amount" class="form-label">Cantidad Inicial (S/.)</label>
          <input id="initial-amount" class="form-input" type="number" step="0.01" placeholder="0.00" aria-label="Cantidad Inicial en Soles">
          <div class="button-container">
            <button type="submit" class="button-primary">Aperturar Caja</button>
            <button type="button" class="button-secondary" (click)="closeModal()">Cancelar</button>
          </div>
        </form>
      </section>
    </div>
  </div>
</div>
<!-- DIALOG CONTEO DETALLADO -->
<div class="dialog-overlay" *ngIf="isDetailCountOpen" (click)="closeDetailCount()">
  <div class="dialog" (click)="$event.stopPropagation()">
    <div class="dialog-content">
      <h2 class="dialog-title">Conteo Detallado</h2>
      <h3 class="dialog-subtitle">Monedas</h3>
      <div class="coin-grid">
        <div class="coin" (click)="increaseQty('coin', 0.10)">0.10</div>
        <div class="coin" (click)="increaseQty('coin', 0.20)">0.20</div>
        <div class="coin" (click)="increaseQty('coin', 0.50)">0.50</div>
        <div class="coin" (click)="increaseQty('coin', 1.00)">1.00</div>
        <div class="coin" (click)="increaseQty('coin', 2.00)">2.00</div>
        <div class="coin" (click)="increaseQty('coin', 5.00)">5.00</div>
      </div>
      <div class="quantity-grid">
        <div class="quantity-input">
          <input type="number" [(ngModel)]="coinQuantities[0.10]" class="quantity-value" />
        </div>
        <div class="quantity-input">
          <input type="number" [(ngModel)]="coinQuantities[0.20]" class="quantity-value" />
        </div>
        <div class="quantity-input">
          <input type="number" [(ngModel)]="coinQuantities[0.50]" class="quantity-value" />
        </div>
        <div class="quantity-input">
          <input type="number" [(ngModel)]="coinQuantities[1.00]" class="quantity-value" />
        </div>
        <div class="quantity-input">
          <input type="number" [(ngModel)]="coinQuantities[2.00]" class="quantity-value" />
        </div>
        <div class="quantity-input">
          <input type="number" [(ngModel)]="coinQuantities[5.00]" class="quantity-value" />
        </div>
      </div>
      <h3 class="dialog-subtitle">Billetes</h3>
      <div class="bill-grid">
        <div class="bill" (click)="increaseQty('bill', 10.00)">10.00</div>
        <div class="bill" (click)="increaseQty('bill', 20.00)">20.00</div>
        <div class="bill" (click)="increaseQty('bill', 50.00)">50.00</div>
        <div class="bill" (click)="increaseQty('bill', 100.00)">100.00</div>
        <div class="bill" (click)="increaseQty('bill', 200.00)">200.00</div>
      </div>
      <div class="quantity-grid">
        <div class="quantity-input">
          <input type="number" [(ngModel)]="billQuantities[10.00]" class="quantity-value" />
        </div>
        <div class="quantity-input">
          <input type="number" [(ngModel)]="billQuantities[20.00]" class="quantity-value" />
        </div>
        <div class="quantity-input">
          <input type="number" [(ngModel)]="billQuantities[50.00]" class="quantity-value" />
        </div>
        <div class="quantity-input">
          <input type="number" [(ngModel)]="billQuantities[100.00]" class="quantity-value" />
        </div>
        <div class="quantity-input">
          <input type="number" [(ngModel)]="billQuantities[200.00]" class="quantity-value" />
        </div>
      </div>
      <p class="dialog-text">Se creará un conteo detallado con los siguientes datos</p>
      <div class="total-amount">
        <div class="total-label">Monto Total</div>
        <div class="total-value">
          <span class="currency">S/.</span>
          <span class="amount">{{ totalAmount.toFixed(2) }}</span>
        </div>
      </div>
      <div class="dialog-actions">
        <button class="btn btn-primary">Registrar</button>
        <button class="btn btn-secondary" (click)="closeDetailCount()">Cancelar</button>
      </div>
    </div>
  </div>
</div>
