USE [senorial]
GO
/****** Object:  Schema [Almacen]    Script Date: 11/06/2024 13:05:28 ******/
CREATE SCHEMA [Almacen]
GO
/****** Object:  Schema [Generico]    Script Date: 11/06/2024 13:05:28 ******/
CREATE SCHEMA [Generico]
GO
/****** Object:  Schema [Produccion]    Script Date: 11/06/2024 13:05:28 ******/
CREATE SCHEMA [Produccion]
GO
/****** Object:  Schema [Usuarios]    Script Date: 11/06/2024 13:05:28 ******/
CREATE SCHEMA [Usuarios]
GO
/****** Object:  Schema [Ventas]    Script Date: 11/06/2024 13:05:28 ******/
CREATE SCHEMA [Ventas]
GO
/****** Object:  Table [Almacen].[categorias]    Script Date: 11/06/2024 13:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Almacen].[categorias](
	[id_categoria] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[id_categoria_padre] [int] NULL,
 CONSTRAINT [categoria_id_pk] PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Almacen].[compra]    Script Date: 11/06/2024 13:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Almacen].[compra](
	[id_compra] [int] IDENTITY(1,1) NOT NULL,
	[id_proveedor] [int] NOT NULL,
	[id_voucher] [int] NOT NULL,
 CONSTRAINT [compra_id_pk] PRIMARY KEY CLUSTERED 
(
	[id_compra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Almacen].[detalle_compra]    Script Date: 11/06/2024 13:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Almacen].[detalle_compra](
	[id_compra] [int] NOT NULL,
	[id_insumo] [int] NOT NULL,
	[cantidad] [int] NULL,
	[precio_compra] [decimal](10, 2) NULL,
	[fecha_expiracion] [datetime] NULL,
 CONSTRAINT [detalle_compra_id_pk] PRIMARY KEY CLUSTERED 
(
	[id_compra] ASC,
	[id_insumo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Almacen].[detalle_inventario]    Script Date: 11/06/2024 13:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Almacen].[detalle_inventario](
	[id_det_inventario] [int] IDENTITY(1,1) NOT NULL,
	[id_inventario] [int] NOT NULL,
	[id_insumo] [int] NOT NULL,
	[stock_total] [int] NOT NULL,
	[id_estado] [int] NOT NULL,
 CONSTRAINT [detalle_inventario_id_pk] PRIMARY KEY CLUSTERED 
(
	[id_det_inventario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Almacen].[entradas]    Script Date: 11/06/2024 13:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Almacen].[entradas](
	[id_inventario] [int] NOT NULL,
	[id_compra] [int] NOT NULL,
	[fecha_Ingreso] [datetime] NULL,
	[cantidad] [int] NULL,
 CONSTRAINT [entrada_id_pk] PRIMARY KEY CLUSTERED 
(
	[id_inventario] ASC,
	[id_compra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Almacen].[insumo]    Script Date: 11/06/2024 13:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Almacen].[insumo](
	[id_insumo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NULL,
	[url] [nvarchar](max) NULL,
	[id_unidad] [int] NOT NULL,
 CONSTRAINT [insumo_id_pk] PRIMARY KEY CLUSTERED 
(
	[id_insumo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Almacen].[inventario]    Script Date: 11/06/2024 13:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Almacen].[inventario](
	[id_inventario] [int] IDENTITY(1,1) NOT NULL,
	[id_sucursal] [int] NOT NULL,
 CONSTRAINT [inventario_id_pk] PRIMARY KEY CLUSTERED 
(
	[id_inventario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Almacen].[proveedor]    Script Date: 11/06/2024 13:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Almacen].[proveedor](
	[id_proveedor] [int] IDENTITY(1,1) NOT NULL,
	[id_persona] [int] NOT NULL,
	[vende] [nvarchar](50) NULL,
 CONSTRAINT [proveedor_id_pk] PRIMARY KEY CLUSTERED 
(
	[id_proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Generico].[estado]    Script Date: 11/06/2024 13:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Generico].[estado](
	[id_estado] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NULL,
	[abreviacion] [nvarchar](50) NULL,
	[id_estado_padre] [int] NULL,
 CONSTRAINT [estado_id_pk] PRIMARY KEY CLUSTERED 
(
	[id_estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Generico].[imagenes]    Script Date: 11/06/2024 13:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Generico].[imagenes](
	[id_img] [int] IDENTITY(1,1) NOT NULL,
	[url] [nvarchar](max) NULL,
	[nombre] [nvarchar](100) NULL,
 CONSTRAINT [imagenes_id_pk] PRIMARY KEY CLUSTERED 
(
	[id_img] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Generico].[sucursal]    Script Date: 11/06/2024 13:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Generico].[sucursal](
	[id_sucursal] [int] IDENTITY(1,1) NOT NULL,
	[id_ambiente] [int] NOT NULL,
	[nombre] [nvarchar](100) NULL,
	[direccion] [nvarchar](200) NULL,
	[id_ubigeo] [int] NOT NULL,
	[id_documento] [int] NOT NULL,
 CONSTRAINT [sucursal_id_pk] PRIMARY KEY CLUSTERED 
(
	[id_sucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Generico].[ubigeo]    Script Date: 11/06/2024 13:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Generico].[ubigeo](
	[id_ubigeo] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [nvarchar](12) NULL,
	[distrito] [nvarchar](100) NULL,
	[provincia] [nvarchar](100) NULL,
	[departamento] [nvarchar](100) NULL,
 CONSTRAINT [ubigeo_id_pk] PRIMARY KEY CLUSTERED 
(
	[id_ubigeo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Generico].[unidad_medicion]    Script Date: 11/06/2024 13:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Generico].[unidad_medicion](
	[id_unidad] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](50) NULL,
	[abreviacion] [nvarchar](50) NULL,
 CONSTRAINT [unidad_medicion_id_pk] PRIMARY KEY CLUSTERED 
(
	[id_unidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Produccion].[detalle_produccion]    Script Date: 11/06/2024 13:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Produccion].[detalle_produccion](
	[id_produccion] [int] NOT NULL,
	[id_producto_sucursal] [int] NOT NULL,
	[cantidad_salida] [int] NULL,
	[fecha_salida] [datetime] NULL,
 CONSTRAINT [detalle_produccion_id_pk] PRIMARY KEY CLUSTERED 
(
	[id_produccion] ASC,
	[id_producto_sucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Produccion].[produccion]    Script Date: 11/06/2024 13:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Produccion].[produccion](
	[id_produccion] [int] IDENTITY(1,1) NOT NULL,
	[cantidad_total] [int] NOT NULL,
	[motivo] [nvarchar](200) NOT NULL,
 CONSTRAINT [produccion_id_pk] PRIMARY KEY CLUSTERED 
(
	[id_produccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Produccion].[salidas]    Script Date: 11/06/2024 13:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Produccion].[salidas](
	[id_det_inventario] [int] NOT NULL,
	[id_produccion] [int] NOT NULL,
	[cantidad] [int] NULL,
	[id_sucursal] [int] NOT NULL,
 CONSTRAINT [salida_id_pk] PRIMARY KEY CLUSTERED 
(
	[id_det_inventario] ASC,
	[id_produccion] ASC,
	[id_sucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Usuarios].[detalle_dash_menu]    Script Date: 11/06/2024 13:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Usuarios].[detalle_dash_menu](
	[id_menu] [int] NOT NULL,
	[id_rol] [int] NOT NULL,
	[descripcion] [nvarchar](100) NULL,
 CONSTRAINT [detalle_dash_menu_id_pk] PRIMARY KEY CLUSTERED 
(
	[id_menu] ASC,
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Usuarios].[menu_dash]    Script Date: 11/06/2024 13:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Usuarios].[menu_dash](
	[id_menu] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NULL,
	[descripcion] [nvarchar](100) NULL,
	[icono] [nvarchar](50) NULL,
	[data_target] [nvarchar](50) NULL,
	[url] [nvarchar](max) NULL,
	[parent] [int] NULL,
 CONSTRAINT [dashboard_id_pk] PRIMARY KEY CLUSTERED 
(
	[id_menu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Usuarios].[persona_juridicas]    Script Date: 11/06/2024 13:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Usuarios].[persona_juridicas](
	[razon_social] [nvarchar](100) NULL,
	[nombre_comercial] [nvarchar](100) NULL,
	[id_persona] [int] NOT NULL,
 CONSTRAINT [persona_juridica_id_pk] PRIMARY KEY CLUSTERED 
(
	[id_persona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Usuarios].[persona_natural]    Script Date: 11/06/2024 13:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Usuarios].[persona_natural](
	[primer_nombre] [nvarchar](100) NULL,
	[segundo_nombre] [nvarchar](100) NULL,
	[apellido_paterno] [nvarchar](100) NULL,
	[apellido_materno] [nvarchar](100) NULL,
	[id_persona] [int] NOT NULL,
 CONSTRAINT [persona_natural_id_pk] PRIMARY KEY CLUSTERED 
(
	[id_persona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Usuarios].[personas]    Script Date: 11/06/2024 13:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Usuarios].[personas](
	[id_persona] [int] IDENTITY(1,1) NOT NULL,
	[nro_Documento] [nvarchar](12) NULL,
	[correo] [nvarchar](50) NULL,
	[telefono] [nvarchar](12) NULL,
	[direccion] [nvarchar](100) NULL,
	[tipo_documento] [nvarchar](100) NOT NULL,
	[genero] [nvarchar](20) NOT NULL,
	[tipo_persona] [nvarchar](50) NULL,
 CONSTRAINT [persona_id_pk] PRIMARY KEY CLUSTERED 
(
	[id_persona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Usuarios].[roles]    Script Date: 11/06/2024 13:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Usuarios].[roles](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NULL,
	[abreviacion] [nvarchar](10) NULL,
	[descripcion] [nvarchar](100) NULL,
	[id_estado] [int] NOT NULL,
 CONSTRAINT [roles_id_pk] PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Usuarios].[usuario]    Script Date: 11/06/2024 13:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Usuarios].[usuario](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[user_name] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
	[id_persona] [int] NOT NULL,
	[update_at] [datetime] NULL,
	[id_rol] [int] NOT NULL,
	[id_img] [int] NOT NULL,
 CONSTRAINT [usuario_id_pk] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ventas].[ambiente]    Script Date: 11/06/2024 13:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ventas].[ambiente](
	[id_ambiente] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[id_mesa] [int] NOT NULL,
 CONSTRAINT [ambiente_id_pk] PRIMARY KEY CLUSTERED 
(
	[id_ambiente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ventas].[apertura_cajas]    Script Date: 11/06/2024 13:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ventas].[apertura_cajas](
	[id_apertura] [int] IDENTITY(1,1) NOT NULL,
	[id_caja] [int] NOT NULL,
	[id_usuario] [int] NOT NULL,
	[monto_inicio] [decimal](10, 2) NOT NULL,
	[hora_fecha_inicio] [datetime] NOT NULL,
	[activo] [bit] NOT NULL,
	[monto_cierre] [decimal](10, 2) NULL,
	[hora_fecha_cierre] [datetime] NOT NULL,
 CONSTRAINT [apertura_caja_id_pk] PRIMARY KEY CLUSTERED 
(
	[id_apertura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ventas].[cajas]    Script Date: 11/06/2024 13:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ventas].[cajas](
	[id_caja] [int] IDENTITY(1,1) NOT NULL,
	[numero_caja] [nvarchar](100) NOT NULL,
 CONSTRAINT [caja_id_pk] PRIMARY KEY CLUSTERED 
(
	[id_caja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ventas].[cliente]    Script Date: 11/06/2024 13:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ventas].[cliente](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[id_persona] [int] NOT NULL,
 CONSTRAINT [cliente_id_pk] PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ventas].[detalle_ventas]    Script Date: 11/06/2024 13:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ventas].[detalle_ventas](
	[id_det_venta] [int] IDENTITY(1,1) NOT NULL,
	[cantidad] [int] NULL,
	[precio_unitario] [decimal](10, 2) NULL,
	[id_venta] [int] NOT NULL,
	[id_producto_sucursal] [int] NOT NULL,
 CONSTRAINT [detalle_venta_id_pk] PRIMARY KEY CLUSTERED 
(
	[id_det_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ventas].[documentos]    Script Date: 11/06/2024 13:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ventas].[documentos](
	[id_documento] [int] IDENTITY(1,1) NOT NULL,
	[nro_documento] [nvarchar](100) NULL,
	[id_comprobante] [int] NOT NULL,
 CONSTRAINT [documento_id_pk] PRIMARY KEY CLUSTERED 
(
	[id_documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ventas].[empleado]    Script Date: 11/06/2024 13:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ventas].[empleado](
	[id_empleado] [int] IDENTITY(1,1) NOT NULL,
	[id_rol] [int] NOT NULL,
	[id_persona] [int] NOT NULL,
	[id_sucursal] [int] NOT NULL,
 CONSTRAINT [empleado_id_pk] PRIMARY KEY CLUSTERED 
(
	[id_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ventas].[mesas]    Script Date: 11/06/2024 13:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ventas].[mesas](
	[id_mesa] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NULL,
 CONSTRAINT [mesa_id_pk] PRIMARY KEY CLUSTERED 
(
	[id_mesa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ventas].[metodo_pago]    Script Date: 11/06/2024 13:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ventas].[metodo_pago](
	[id_metodo] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](100) NULL,
 CONSTRAINT [metodo_pago_id_pk] PRIMARY KEY CLUSTERED 
(
	[id_metodo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ventas].[producto_sucursal]    Script Date: 11/06/2024 13:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ventas].[producto_sucursal](
	[id_producto_sucursal] [int] IDENTITY(1,1) NOT NULL,
	[id_unidad] [int] NOT NULL,
	[id_categoria] [int] NOT NULL,
	[id_sucursal] [int] NOT NULL,
	[id_producto] [int] NOT NULL,
	[precio] [decimal](10, 2) NULL,
	[cantidad] [int] NULL,
 CONSTRAINT [producto_local_id_pk] PRIMARY KEY CLUSTERED 
(
	[id_producto_sucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ventas].[productos]    Script Date: 11/06/2024 13:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ventas].[productos](
	[id_producto] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NULL,
	[descripcion] [nvarchar](100) NULL,
	[derivar] [nvarchar](100) NOT NULL,
	[id_img] [int] NOT NULL,
 CONSTRAINT [producto_id_pk] PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ventas].[sucursal_usuario]    Script Date: 11/06/2024 13:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ventas].[sucursal_usuario](
	[id_sucursal] [int] NOT NULL,
	[id_usuario] [int] NOT NULL,
	[descripcion] [nvarchar](100) NULL,
 CONSTRAINT [sucursal_id_usuario_pk] PRIMARY KEY CLUSTERED 
(
	[id_sucursal] ASC,
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ventas].[tipo_comprobantes]    Script Date: 11/06/2024 13:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ventas].[tipo_comprobantes](
	[id_comprobante] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NULL,
 CONSTRAINT [tipo_comprobante_id_pk] PRIMARY KEY CLUSTERED 
(
	[id_comprobante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ventas].[tipo_pedido]    Script Date: 11/06/2024 13:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ventas].[tipo_pedido](
	[id_tipo_pedido] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](100) NULL,
 CONSTRAINT [tipo_pedido_id_pk] PRIMARY KEY CLUSTERED 
(
	[id_tipo_pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ventas].[tipo_transaccion]    Script Date: 11/06/2024 13:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ventas].[tipo_transaccion](
	[id_tipo_transaccion] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NULL,
	[descripcion] [nvarchar](100) NULL,
 CONSTRAINT [tipo_transaccion_id_pk] PRIMARY KEY CLUSTERED 
(
	[id_tipo_transaccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ventas].[ventas]    Script Date: 11/06/2024 13:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ventas].[ventas](
	[id_venta] [int] IDENTITY(1,1) NOT NULL,
	[id_apertura] [int] NOT NULL,
	[id_voucher] [int] NOT NULL,
	[id_sucursal] [int] NOT NULL,
	[id_cliente] [int] NOT NULL,
	[id_estado] [int] NOT NULL,
	[id_empleado] [int] NOT NULL,
	[id_metodo] [int] NOT NULL,
	[id_comprobante] [int] NOT NULL,
	[nro_documento] [nvarchar](50) NULL,
	[nro_serie] [nvarchar](50) NULL,
	[id_tipo_pedido] [int] NOT NULL,
	[fecha_venta] [datetime] NULL,
	[costo_base] [decimal](10, 2) NULL,
	[igv] [decimal](10, 2) NULL,
	[monto_total] [decimal](10, 2) NULL,
	[vuelto] [decimal](10, 2) NULL,
	[observacion] [nvarchar](100) NULL,
 CONSTRAINT [venta_id_pk] PRIMARY KEY CLUSTERED 
(
	[id_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Ventas].[voucher]    Script Date: 11/06/2024 13:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ventas].[voucher](
	[id_voucher] [int] IDENTITY(1,1) NOT NULL,
	[fecha_emision] [nvarchar](50) NULL,
	[cantidad] [nvarchar](50) NULL,
	[precio_unitario] [nvarchar](50) NULL,
	[igv] [nvarchar](50) NULL,
	[importe_total] [nvarchar](50) NULL,
	[id_estado] [int] NOT NULL,
	[id_tipo_transaccion] [int] NOT NULL,
 CONSTRAINT [voucher_id_pk] PRIMARY KEY CLUSTERED 
(
	[id_voucher] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [categorias_nombre_uk]    Script Date: 11/06/2024 13:05:28 ******/
ALTER TABLE [Almacen].[categorias] ADD  CONSTRAINT [categorias_nombre_uk] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [estado_descripcion_uk]    Script Date: 11/06/2024 13:05:28 ******/
ALTER TABLE [Generico].[estado] ADD  CONSTRAINT [estado_descripcion_uk] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [personas_email_uk]    Script Date: 11/06/2024 13:05:28 ******/
ALTER TABLE [Usuarios].[personas] ADD  CONSTRAINT [personas_email_uk] UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [personas_numero_documento_uk]    Script Date: 11/06/2024 13:05:28 ******/
ALTER TABLE [Usuarios].[personas] ADD  CONSTRAINT [personas_numero_documento_uk] UNIQUE NONCLUSTERED 
(
	[nro_Documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [personas_phone_uk]    Script Date: 11/06/2024 13:05:28 ******/
ALTER TABLE [Usuarios].[personas] ADD  CONSTRAINT [personas_phone_uk] UNIQUE NONCLUSTERED 
(
	[telefono] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [usuario_user_name_uk]    Script Date: 11/06/2024 13:05:28 ******/
ALTER TABLE [Usuarios].[usuario] ADD  CONSTRAINT [usuario_user_name_uk] UNIQUE NONCLUSTERED 
(
	[user_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ventas_numero_documento_uk]    Script Date: 11/06/2024 13:05:28 ******/
ALTER TABLE [Ventas].[ventas] ADD  CONSTRAINT [ventas_numero_documento_uk] UNIQUE NONCLUSTERED 
(
	[nro_documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ventas_numero_serie_uk]    Script Date: 11/06/2024 13:05:28 ******/
ALTER TABLE [Ventas].[ventas] ADD  CONSTRAINT [ventas_numero_serie_uk] UNIQUE NONCLUSTERED 
(
	[nro_serie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [Usuarios].[usuario] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [Ventas].[ventas] ADD  DEFAULT (getdate()) FOR [fecha_venta]
GO
ALTER TABLE [Almacen].[categorias]  WITH CHECK ADD  CONSTRAINT [categorias_padre_fk] FOREIGN KEY([id_categoria_padre])
REFERENCES [Almacen].[categorias] ([id_categoria])
GO
ALTER TABLE [Almacen].[categorias] CHECK CONSTRAINT [categorias_padre_fk]
GO
ALTER TABLE [Almacen].[compra]  WITH CHECK ADD  CONSTRAINT [provedor_id_fk] FOREIGN KEY([id_proveedor])
REFERENCES [Almacen].[proveedor] ([id_proveedor])
GO
ALTER TABLE [Almacen].[compra] CHECK CONSTRAINT [provedor_id_fk]
GO
ALTER TABLE [Almacen].[compra]  WITH CHECK ADD  CONSTRAINT [voucher_id_fk] FOREIGN KEY([id_voucher])
REFERENCES [Ventas].[voucher] ([id_voucher])
GO
ALTER TABLE [Almacen].[compra] CHECK CONSTRAINT [voucher_id_fk]
GO
ALTER TABLE [Almacen].[detalle_compra]  WITH CHECK ADD  CONSTRAINT [compra_id_fk] FOREIGN KEY([id_compra])
REFERENCES [Almacen].[compra] ([id_compra])
GO
ALTER TABLE [Almacen].[detalle_compra] CHECK CONSTRAINT [compra_id_fk]
GO
ALTER TABLE [Almacen].[detalle_compra]  WITH CHECK ADD  CONSTRAINT [insumo_id_fk] FOREIGN KEY([id_insumo])
REFERENCES [Almacen].[insumo] ([id_insumo])
GO
ALTER TABLE [Almacen].[detalle_compra] CHECK CONSTRAINT [insumo_id_fk]
GO
ALTER TABLE [Almacen].[detalle_inventario]  WITH CHECK ADD  CONSTRAINT [det_insumo_id_fk] FOREIGN KEY([id_insumo])
REFERENCES [Almacen].[insumo] ([id_insumo])
GO
ALTER TABLE [Almacen].[detalle_inventario] CHECK CONSTRAINT [det_insumo_id_fk]
GO
ALTER TABLE [Almacen].[detalle_inventario]  WITH CHECK ADD  CONSTRAINT [estado_id_fk] FOREIGN KEY([id_estado])
REFERENCES [Generico].[estado] ([id_estado])
GO
ALTER TABLE [Almacen].[detalle_inventario] CHECK CONSTRAINT [estado_id_fk]
GO
ALTER TABLE [Almacen].[detalle_inventario]  WITH CHECK ADD  CONSTRAINT [inventario_id_fk] FOREIGN KEY([id_inventario])
REFERENCES [Almacen].[inventario] ([id_inventario])
GO
ALTER TABLE [Almacen].[detalle_inventario] CHECK CONSTRAINT [inventario_id_fk]
GO
ALTER TABLE [Almacen].[entradas]  WITH CHECK ADD  CONSTRAINT [compras_id_fk] FOREIGN KEY([id_compra])
REFERENCES [Almacen].[compra] ([id_compra])
GO
ALTER TABLE [Almacen].[entradas] CHECK CONSTRAINT [compras_id_fk]
GO
ALTER TABLE [Almacen].[entradas]  WITH CHECK ADD  CONSTRAINT [inventario_id_entrada_fk] FOREIGN KEY([id_inventario])
REFERENCES [Almacen].[inventario] ([id_inventario])
GO
ALTER TABLE [Almacen].[entradas] CHECK CONSTRAINT [inventario_id_entrada_fk]
GO
ALTER TABLE [Almacen].[insumo]  WITH CHECK ADD  CONSTRAINT [unidad_medida_id_fk] FOREIGN KEY([id_unidad])
REFERENCES [Generico].[unidad_medicion] ([id_unidad])
GO
ALTER TABLE [Almacen].[insumo] CHECK CONSTRAINT [unidad_medida_id_fk]
GO
ALTER TABLE [Almacen].[inventario]  WITH CHECK ADD  CONSTRAINT [sucursal_id_fk] FOREIGN KEY([id_sucursal])
REFERENCES [Generico].[sucursal] ([id_sucursal])
GO
ALTER TABLE [Almacen].[inventario] CHECK CONSTRAINT [sucursal_id_fk]
GO
ALTER TABLE [Almacen].[proveedor]  WITH CHECK ADD  CONSTRAINT [proveedor_id_fk] FOREIGN KEY([id_persona])
REFERENCES [Usuarios].[personas] ([id_persona])
GO
ALTER TABLE [Almacen].[proveedor] CHECK CONSTRAINT [proveedor_id_fk]
GO
ALTER TABLE [Generico].[estado]  WITH CHECK ADD  CONSTRAINT [estado_padre_fk] FOREIGN KEY([id_estado_padre])
REFERENCES [Generico].[estado] ([id_estado])
GO
ALTER TABLE [Generico].[estado] CHECK CONSTRAINT [estado_padre_fk]
GO
ALTER TABLE [Generico].[sucursal]  WITH CHECK ADD  CONSTRAINT [ambientes_id_fk] FOREIGN KEY([id_ambiente])
REFERENCES [Ventas].[ambiente] ([id_ambiente])
GO
ALTER TABLE [Generico].[sucursal] CHECK CONSTRAINT [ambientes_id_fk]
GO
ALTER TABLE [Generico].[sucursal]  WITH CHECK ADD  CONSTRAINT [documento_id_fk] FOREIGN KEY([id_documento])
REFERENCES [Ventas].[documentos] ([id_documento])
GO
ALTER TABLE [Generico].[sucursal] CHECK CONSTRAINT [documento_id_fk]
GO
ALTER TABLE [Generico].[sucursal]  WITH CHECK ADD  CONSTRAINT [ubigeo_id_fk] FOREIGN KEY([id_ubigeo])
REFERENCES [Generico].[ubigeo] ([id_ubigeo])
GO
ALTER TABLE [Generico].[sucursal] CHECK CONSTRAINT [ubigeo_id_fk]
GO
ALTER TABLE [Produccion].[detalle_produccion]  WITH CHECK ADD  CONSTRAINT [produccion_id_fk] FOREIGN KEY([id_produccion])
REFERENCES [Produccion].[produccion] ([id_produccion])
GO
ALTER TABLE [Produccion].[detalle_produccion] CHECK CONSTRAINT [produccion_id_fk]
GO
ALTER TABLE [Produccion].[detalle_produccion]  WITH CHECK ADD  CONSTRAINT [sucurusal_id_fk] FOREIGN KEY([id_producto_sucursal])
REFERENCES [Ventas].[producto_sucursal] ([id_producto_sucursal])
GO
ALTER TABLE [Produccion].[detalle_produccion] CHECK CONSTRAINT [sucurusal_id_fk]
GO
ALTER TABLE [Produccion].[salidas]  WITH CHECK ADD  CONSTRAINT [det_inventario_id_fk] FOREIGN KEY([id_det_inventario])
REFERENCES [Almacen].[detalle_inventario] ([id_det_inventario])
GO
ALTER TABLE [Produccion].[salidas] CHECK CONSTRAINT [det_inventario_id_fk]
GO
ALTER TABLE [Produccion].[salidas]  WITH CHECK ADD  CONSTRAINT [produccion_salida_id_fk] FOREIGN KEY([id_produccion])
REFERENCES [Produccion].[produccion] ([id_produccion])
GO
ALTER TABLE [Produccion].[salidas] CHECK CONSTRAINT [produccion_salida_id_fk]
GO
ALTER TABLE [Produccion].[salidas]  WITH CHECK ADD  CONSTRAINT [sucursal_id_fk] FOREIGN KEY([id_sucursal])
REFERENCES [Generico].[sucursal] ([id_sucursal])
GO
ALTER TABLE [Produccion].[salidas] CHECK CONSTRAINT [sucursal_id_fk]
GO
ALTER TABLE [Usuarios].[detalle_dash_menu]  WITH CHECK ADD  CONSTRAINT [menu_id_fk] FOREIGN KEY([id_menu])
REFERENCES [Usuarios].[menu_dash] ([id_menu])
GO
ALTER TABLE [Usuarios].[detalle_dash_menu] CHECK CONSTRAINT [menu_id_fk]
GO
ALTER TABLE [Usuarios].[detalle_dash_menu]  WITH CHECK ADD  CONSTRAINT [rol_id_fk] FOREIGN KEY([id_rol])
REFERENCES [Usuarios].[roles] ([id_rol])
GO
ALTER TABLE [Usuarios].[detalle_dash_menu] CHECK CONSTRAINT [rol_id_fk]
GO
ALTER TABLE [Usuarios].[persona_juridicas]  WITH CHECK ADD  CONSTRAINT [persona_id_fk] FOREIGN KEY([id_persona])
REFERENCES [Usuarios].[personas] ([id_persona])
GO
ALTER TABLE [Usuarios].[persona_juridicas] CHECK CONSTRAINT [persona_id_fk]
GO
ALTER TABLE [Usuarios].[persona_natural]  WITH CHECK ADD  CONSTRAINT [personas_id_fk] FOREIGN KEY([id_persona])
REFERENCES [Usuarios].[personas] ([id_persona])
GO
ALTER TABLE [Usuarios].[persona_natural] CHECK CONSTRAINT [personas_id_fk]
GO
ALTER TABLE [Usuarios].[roles]  WITH CHECK ADD  CONSTRAINT [estado_id_fk] FOREIGN KEY([id_estado])
REFERENCES [Generico].[estado] ([id_estado])
GO
ALTER TABLE [Usuarios].[roles] CHECK CONSTRAINT [estado_id_fk]
GO
ALTER TABLE [Usuarios].[usuario]  WITH CHECK ADD  CONSTRAINT [img_id_fk] FOREIGN KEY([id_img])
REFERENCES [Generico].[imagenes] ([id_img])
GO
ALTER TABLE [Usuarios].[usuario] CHECK CONSTRAINT [img_id_fk]
GO
ALTER TABLE [Usuarios].[usuario]  WITH CHECK ADD  CONSTRAINT [personas_usuario_id_fk] FOREIGN KEY([id_persona])
REFERENCES [Usuarios].[personas] ([id_persona])
GO
ALTER TABLE [Usuarios].[usuario] CHECK CONSTRAINT [personas_usuario_id_fk]
GO
ALTER TABLE [Usuarios].[usuario]  WITH CHECK ADD  CONSTRAINT [roles_id_fk] FOREIGN KEY([id_rol])
REFERENCES [Usuarios].[roles] ([id_rol])
GO
ALTER TABLE [Usuarios].[usuario] CHECK CONSTRAINT [roles_id_fk]
GO
ALTER TABLE [Ventas].[ambiente]  WITH CHECK ADD  CONSTRAINT [mesa_id_fk] FOREIGN KEY([id_mesa])
REFERENCES [Ventas].[mesas] ([id_mesa])
GO
ALTER TABLE [Ventas].[ambiente] CHECK CONSTRAINT [mesa_id_fk]
GO
ALTER TABLE [Ventas].[apertura_cajas]  WITH CHECK ADD  CONSTRAINT [caja_id_fk] FOREIGN KEY([id_caja])
REFERENCES [Ventas].[cajas] ([id_caja])
GO
ALTER TABLE [Ventas].[apertura_cajas] CHECK CONSTRAINT [caja_id_fk]
GO
ALTER TABLE [Ventas].[cliente]  WITH CHECK ADD  CONSTRAINT [persona_id_fk] FOREIGN KEY([id_persona])
REFERENCES [Usuarios].[personas] ([id_persona])
GO
ALTER TABLE [Ventas].[cliente] CHECK CONSTRAINT [persona_id_fk]
GO
ALTER TABLE [Ventas].[detalle_ventas]  WITH CHECK ADD  CONSTRAINT [producto_sucursal_id_fk] FOREIGN KEY([id_producto_sucursal])
REFERENCES [Ventas].[producto_sucursal] ([id_producto_sucursal])
GO
ALTER TABLE [Ventas].[detalle_ventas] CHECK CONSTRAINT [producto_sucursal_id_fk]
GO
ALTER TABLE [Ventas].[detalle_ventas]  WITH CHECK ADD  CONSTRAINT [venta_id_fk] FOREIGN KEY([id_venta])
REFERENCES [Ventas].[ventas] ([id_venta])
GO
ALTER TABLE [Ventas].[detalle_ventas] CHECK CONSTRAINT [venta_id_fk]
GO
ALTER TABLE [Ventas].[documentos]  WITH CHECK ADD  CONSTRAINT [comprobante_tipo_id_fk] FOREIGN KEY([id_comprobante])
REFERENCES [Ventas].[tipo_comprobantes] ([id_comprobante])
GO
ALTER TABLE [Ventas].[documentos] CHECK CONSTRAINT [comprobante_tipo_id_fk]
GO
ALTER TABLE [Ventas].[empleado]  WITH CHECK ADD  CONSTRAINT [empleado_persona_id_fk] FOREIGN KEY([id_persona])
REFERENCES [Usuarios].[personas] ([id_persona])
GO
ALTER TABLE [Ventas].[empleado] CHECK CONSTRAINT [empleado_persona_id_fk]
GO
ALTER TABLE [Ventas].[empleado]  WITH CHECK ADD  CONSTRAINT [rol_id_fk] FOREIGN KEY([id_rol])
REFERENCES [Usuarios].[roles] ([id_rol])
GO
ALTER TABLE [Ventas].[empleado] CHECK CONSTRAINT [rol_id_fk]
GO
ALTER TABLE [Ventas].[empleado]  WITH CHECK ADD  CONSTRAINT [sucursal_id_fk] FOREIGN KEY([id_sucursal])
REFERENCES [Generico].[sucursal] ([id_sucursal])
GO
ALTER TABLE [Ventas].[empleado] CHECK CONSTRAINT [sucursal_id_fk]
GO
ALTER TABLE [Ventas].[producto_sucursal]  WITH CHECK ADD  CONSTRAINT [categorias_id_fk] FOREIGN KEY([id_categoria])
REFERENCES [Almacen].[categorias] ([id_categoria])
GO
ALTER TABLE [Ventas].[producto_sucursal] CHECK CONSTRAINT [categorias_id_fk]
GO
ALTER TABLE [Ventas].[producto_sucursal]  WITH CHECK ADD  CONSTRAINT [producto_id_fk] FOREIGN KEY([id_producto])
REFERENCES [Ventas].[productos] ([id_producto])
GO
ALTER TABLE [Ventas].[producto_sucursal] CHECK CONSTRAINT [producto_id_fk]
GO
ALTER TABLE [Ventas].[producto_sucursal]  WITH CHECK ADD  CONSTRAINT [sucursales_id_fk] FOREIGN KEY([id_sucursal])
REFERENCES [Generico].[sucursal] ([id_sucursal])
GO
ALTER TABLE [Ventas].[producto_sucursal] CHECK CONSTRAINT [sucursales_id_fk]
GO
ALTER TABLE [Ventas].[producto_sucursal]  WITH CHECK ADD  CONSTRAINT [unidad_medida_id_fk] FOREIGN KEY([id_unidad])
REFERENCES [Generico].[unidad_medicion] ([id_unidad])
GO
ALTER TABLE [Ventas].[producto_sucursal] CHECK CONSTRAINT [unidad_medida_id_fk]
GO
ALTER TABLE [Ventas].[productos]  WITH CHECK ADD  CONSTRAINT [img_id_fk] FOREIGN KEY([id_img])
REFERENCES [Generico].[imagenes] ([id_img])
GO
ALTER TABLE [Ventas].[productos] CHECK CONSTRAINT [img_id_fk]
GO
ALTER TABLE [Ventas].[sucursal_usuario]  WITH CHECK ADD  CONSTRAINT [sucursal_user_id_fk] FOREIGN KEY([id_sucursal])
REFERENCES [Generico].[sucursal] ([id_sucursal])
GO
ALTER TABLE [Ventas].[sucursal_usuario] CHECK CONSTRAINT [sucursal_user_id_fk]
GO
ALTER TABLE [Ventas].[sucursal_usuario]  WITH CHECK ADD  CONSTRAINT [usuario_id_fk] FOREIGN KEY([id_usuario])
REFERENCES [Usuarios].[usuario] ([id_usuario])
GO
ALTER TABLE [Ventas].[sucursal_usuario] CHECK CONSTRAINT [usuario_id_fk]
GO
ALTER TABLE [Ventas].[ventas]  WITH CHECK ADD  CONSTRAINT [apertura_caja_id_fk] FOREIGN KEY([id_apertura])
REFERENCES [Ventas].[apertura_cajas] ([id_apertura])
GO
ALTER TABLE [Ventas].[ventas] CHECK CONSTRAINT [apertura_caja_id_fk]
GO
ALTER TABLE [Ventas].[ventas]  WITH CHECK ADD  CONSTRAINT [cliente_id_fk] FOREIGN KEY([id_cliente])
REFERENCES [Ventas].[cliente] ([id_cliente])
GO
ALTER TABLE [Ventas].[ventas] CHECK CONSTRAINT [cliente_id_fk]
GO
ALTER TABLE [Ventas].[ventas]  WITH CHECK ADD  CONSTRAINT [comprobante_id_fk] FOREIGN KEY([id_comprobante])
REFERENCES [Ventas].[tipo_comprobantes] ([id_comprobante])
GO
ALTER TABLE [Ventas].[ventas] CHECK CONSTRAINT [comprobante_id_fk]
GO
ALTER TABLE [Ventas].[ventas]  WITH CHECK ADD  CONSTRAINT [empleado_id_fk] FOREIGN KEY([id_empleado])
REFERENCES [Ventas].[empleado] ([id_empleado])
GO
ALTER TABLE [Ventas].[ventas] CHECK CONSTRAINT [empleado_id_fk]
GO
ALTER TABLE [Ventas].[ventas]  WITH CHECK ADD  CONSTRAINT [estado_id_fk] FOREIGN KEY([id_estado])
REFERENCES [Generico].[estado] ([id_estado])
GO
ALTER TABLE [Ventas].[ventas] CHECK CONSTRAINT [estado_id_fk]
GO
ALTER TABLE [Ventas].[ventas]  WITH CHECK ADD  CONSTRAINT [metodo_id_fk] FOREIGN KEY([id_metodo])
REFERENCES [Ventas].[metodo_pago] ([id_metodo])
GO
ALTER TABLE [Ventas].[ventas] CHECK CONSTRAINT [metodo_id_fk]
GO
ALTER TABLE [Ventas].[ventas]  WITH CHECK ADD  CONSTRAINT [sucursales_ventas_id_fk] FOREIGN KEY([id_sucursal])
REFERENCES [Generico].[sucursal] ([id_sucursal])
GO
ALTER TABLE [Ventas].[ventas] CHECK CONSTRAINT [sucursales_ventas_id_fk]
GO
ALTER TABLE [Ventas].[ventas]  WITH CHECK ADD  CONSTRAINT [tipo_pedido_id_fk] FOREIGN KEY([id_tipo_pedido])
REFERENCES [Ventas].[tipo_pedido] ([id_tipo_pedido])
GO
ALTER TABLE [Ventas].[ventas] CHECK CONSTRAINT [tipo_pedido_id_fk]
GO
ALTER TABLE [Ventas].[ventas]  WITH CHECK ADD  CONSTRAINT [voucher_id_fk] FOREIGN KEY([id_voucher])
REFERENCES [Ventas].[voucher] ([id_voucher])
GO
ALTER TABLE [Ventas].[ventas] CHECK CONSTRAINT [voucher_id_fk]
GO
ALTER TABLE [Ventas].[voucher]  WITH CHECK ADD  CONSTRAINT [estados_id_fk] FOREIGN KEY([id_estado])
REFERENCES [Generico].[estado] ([id_estado])
GO
ALTER TABLE [Ventas].[voucher] CHECK CONSTRAINT [estados_id_fk]
GO
ALTER TABLE [Ventas].[voucher]  WITH CHECK ADD  CONSTRAINT [tipo_transaccion_id_fk] FOREIGN KEY([id_tipo_transaccion])
REFERENCES [Ventas].[tipo_transaccion] ([id_tipo_transaccion])
GO
ALTER TABLE [Ventas].[voucher] CHECK CONSTRAINT [tipo_transaccion_id_fk]
GO
