<section class="employees-section">
  <side-bar></side-bar> <!-- Componente de sidebar -->
  <div class="content">
    <h1 class="section-title">Empleados</h1>
    <div class="action-bar">
      <div class="search-bar">
        <i class="fa-solid fa-magnifying-glass search-icon"></i>
        <input type="text" class="search-input" placeholder="Buscar por nombre, DNI, teléfono o correo" />
      </div>
      <div class="buttons">
        <button class="action-button" (click)="openDialog('add')">Agregar</button>
      </div>
    </div>
    <table class="employees-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Correo</th>
          <th>Teléfono</th>
          <th>Identificación</th>
          <th>Rol</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empleado of employees">
          <td>{{ empleado.idEmpleado }}</td>
          <td>{{ empleado.nombres }}</td>
          <td>{{ empleado.apellidos }}</td>
          <td>{{ empleado.correo }}</td>
          <td>{{ empleado.telefono }}</td>
          <td>{{ empleado.identificacion }}</td>
          <td>{{ empleado.rol }}</td>
          <td>
            <label class="switch">
                <input type="checkbox" [checked]="empleado.estado" (change)="onEstadoChange(empleado, $event)">
                <span class="slider round"></span>
            </label>
            <span class="status-label">{{ empleado.estado ? 'Activo' : 'Inactivo' }}</span>
        </td>
          <td>
            <i class="edit-icon fa-regular fa-pen-to-square" (click)="openDialog('edit',empleado)"></i>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Componente de Paginación -->
    <div class="pagination-container">
      <p-paginator
        [rows]="rows"
        [totalRecords]="totalRecords"
        [rowsPerPageOptions]="[5, 10, 20]"
        (onPageChange)="onPageChange($event)"
      ></p-paginator>
    </div>
  </div>

  <!-- Modal para agregar/editar empleado -->
  <div id="employee-modal" class="modal" [ngClass]="{'show': isModalOpen}">
    <div class="modal-content">
      <span class="close-button" (click)="closeDialog()">&times;</span>
      <h2 id="modal-title" class="dialog-title">{{modalTitle}}</h2>
      <form [formGroup]="formEmployee" (submit)="employeeAcciones()">
        <div class="form-row">
          <label for="name" class="form-label">Nombre</label>
          <input formControlName="nombres" type="text" id="name" class="form-input" placeholder="Ingresa el nombre" required>
        </div>
        <div class="form-row">
          <label for="lastname" class="form-label">Apellidos</label>
          <input formControlName="apellidos" type="text" id="lastname" class="form-input" placeholder="Ingresa los apellidos" required>
        </div>
        <div class="form-row">
          <label for="email" class="form-label">Correo</label>
          <input formControlName="correo" type="email" id="email" class="form-input" placeholder="Ingresa el correo" required>
        </div>
        <div class="form-row">
          <label for="phone" class="form-label">Teléfono</label>
          <input formControlName="telefono" type="tel" id="phone" class="form-input" placeholder="Ingresa el teléfono" required>
        </div>
        <div class="form-row">
          <label for="identification" class="form-label">Identificación</label>
          <input formControlName="identificacion" type="text" id="identification" class="form-input" placeholder="Ingresa la identificación" required>
        </div>
        <div class="form-row">
          <label for="role" class="form-label">Rol</label>
          <select formControlName="rol" id="role" class="form-input" required>
            <option *ngFor="let item of roles" [value]="item.nombre">{{item.nombre}}</option>
          </select>
        </div>
        <div class="form-row">
          <label for="status" class="form-label">Estado</label>
          <select formControlName="estado" id="status" class="form-input" required>
            <option [value]="true">Activo</option>
            <option [value]="false">Inactivo</option>
          </select>
        </div>
        <div class="form-actions">
          <button type="button" class="btn btn-discard" (click)="closeDialog()">Cancelar</button>
          <button type="submit" class="btn btn-submit">{{modalButtonText}}</button>
        </div>
      </form>
    </div>
  </div>
</section>
<p-toast/>
