<div class="personal-info-card">
  <div class="location-badge">
    <i class="fa-solid fa-location-dot location-icon"></i>
    <a routerLink="/locales" class="location-text">Locales</a>
  </div>
  <div class="divider"></div>
  <div class="contact-info">
    <i class="fas fa-phone phone-icon"></i>
    <a href="https://api.whatsapp.com/send/?phone=51985851866&text&type=phone_number&app_absent=0" class="phone-number">985-851-866</a>
  </div>
  <div class="divider"></div>
  <a routerLink="/personal" class="personal-label">Personal</a>
</div>
