@import "@fortawesome/fontawesome-free/css/all.css";

$background-color : #F5F5F5;
$white-color      : #ffffff;
$primary-color    : #181C2E;
$secondary-color  : #FF910F;
$shadow-color     : rgba(0, 0, 0, 0.1);
$neutral-color    : #181c2e;
$reply-bg         : #fff;
$reply-text-user  : #000;
$font-family      : 'Poppins', sans-serif;

section {
  width: 100%;
}

.menu-categories {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  background-color: var(--reply-bg, $reply-bg);
  display: flex;
  flex-direction: column;
  font-size: 16px; /* Reducimos el tamaño del texto */
  color: $reply-text-user, $reply-text-user;
  font-weight: 600;
  text-align: center;
  line-height: 1;
  height: 90px; /* Reducimos la altura del contenedor */
  overflow: hidden;
  padding: 0 14px; /* Reducimos el padding */
  margin-top: 20px;
}

.category-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Reducimos el espacio entre los elementos */
  padding: 0px 14px;
  overflow-x: auto;
  height: 100%;
}

.category-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px; /* Reducimos el ancho del contenedor */
}

.category-item {
  justify-content: center;
  border-radius: 10px;
  display: flex;
  gap: 2px; /* Reducimos el espacio entre el icono y el texto */
  color: var(--color-neutral-800, $neutral-color);
  font-weight: 700;
  white-space: nowrap;
  padding: 4px; /* Reducimos el padding del item */
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
  height: 100%;
  align-items: center;

  &:hover {
    background-color: var(--color-secondary, $secondary-color);
    color: var(--color-white, $white-color);
  }
}

.category-icon {
  width: 58px; /* Reducimos el tamaño del icono */
  height: 58px; /* Ajustamos la altura en proporción */
  aspect-ratio: 1;
  object-fit: contain;
}

.category-name {
  font-feature-settings: "clig" off, "liga" off;
  font-family: $font-family;
  margin: auto 0;
}

@media (max-width: 991px) {
  .menu-categories {
    font-size: 14px;
    height: 80px;
    padding: 0 12px;
  }

  .category-list {
    flex-direction: row;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    justify-content: flex-start;
  }

  .category-container {
    flex: 0 0 100%;
    scroll-snap-align: start;
  }

  .category-item {
    gap: 2px;
    padding: 4px;
  }

  .category-icon {
    width: 50px;
    height: 50px;
  }
}
