<section class="menu-categories">
  <nav class="category-list">
    @for (item of categoria; track $index) {
      <div class="category-container" (click)="enviarInfo(item.idCategoria,item)">
        <a href="#hamburgers" class="category-item">
          <img [src]="item.ruta" alt="Hamburger icon" class="category-icon" />
          <span class="category-name">{{item.nombre}}</span>
        </a>
      </div>
    }
  </nav>
</section>

@if (submenu) {
  <div class="subcategory-list">
    @for (item of subCategoria; track $index) {
      <button class="button-subcategorias" (click)="enviarSubCategoria(item.idCategoria)" type="button">{{item.nombre}}</button>
    }
  </div>
}
<div class="name-category">
  @if (nombreCategoriaSeleccionada) {
    <h2>{{nombreCategoriaSeleccionada}}</h2>
  }
</div>
