@import "@fortawesome/fontawesome-free/css/all.css";

$background-color : #F5F5F5;
$white-color      : #ffffff;
$primary-color    : #181C2E;
$secondary-color  : #FF910F;
$shadow-color     : rgba(0, 0, 0, 0.1);
$neutral-color    : #181c2e;
$reply-bg         : #fff;
$reply-text-user  : #000;
$font-family      : 'Poppins', sans-serif;

section {
  width: 100vw;
  transform: scale(0.75);
}

.menu-categories {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  background-color: var(--reply-bg, $reply-bg);
  display: flex;
  flex-direction: column;
  font-size: 22px;
  color: var(--reply-text-user, $reply-text-user);
  font-weight: 600;
  text-align: center;
  line-height: 160%;
  height: 120px;
  overflow: hidden;
  padding: 0 24px;
}

.category-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 0px 24px;
  overflow-x: auto;
  height: 100%;
}

.category-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
}

.category-item {
  justify-content: center;
  border-radius: 10px;
  display: flex;
  gap: 8px;
  color: var(--color-neutral-800, $neutral-color);
  font-weight: 700;
  white-space: nowrap;
  padding: 8px;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
  height: 100%;
  align-items: center;
}

.category-item:hover {
  background-color: var(--color-secondary, $secondary-color);
  color: var(--color-white, $white-color);
}

.category-icon {
  width: 80px;
  height: 80px;
  aspect-ratio: 1;
  object-fit: contain;
}

.category-name {
  font-feature-settings: "clig" off, "liga" off;
  font-family: $font-family;
  margin: auto 0;
}

@media (max-width: 991px) {
  .category-list {
    flex-wrap: wrap;
    padding: 0 20px;
  }

  .category-item {
    white-space: initial;
  }
}

.subcategory-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  padding: 16px 24px;

  // Responsiveness for different screen sizes
  margin-left: 195px;

  @media (max-width: 1366px) {
    margin-left: 100px;
  }

  @media (max-width: 720px) {
    margin-left: 50px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.subcategory-title {
  font-size: 18px;
  font-weight: 700;
  color: $primary-color;
  margin-right: 20px;
}

.button-subcategorias {
  background-color: $white-color;
  color: $secondary-color;
  border: 2px solid $secondary-color;
  padding: 8px 16px;
  font-family: $font-family;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
 // Mantener el botón seleccionado cuando está activo
  &:hover,
  &:active {
    background-color: $secondary-color;
    color: $white-color;
    border-color: $secondary-color;
  }

}
.name-category {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 24px;
  margin: 0 auto;  /* Centramos el contenedor */
  width: calc(100% - 64px); /* Ajustamos el ancho restando los márgenes laterales */
  max-width: 1200px; /* Opcional: limita el ancho máximo */
  border-bottom: 2px solid $primary-color; /* Añadir línea divisoria */
  font-weight: 700;
  //font-size: 24px;

  @media (max-width: 1366px) {
    width: calc(100% - 32px); /* Ajustamos para pantallas más pequeñas */
  }

  @media (max-width: 720px) {
    width: calc(100% - 16px); /* Ajustamos para pantallas más pequeñas aún */
  }
}
