<section class="menu-categories">
    <nav class="category-list">
      <div class="category-container">
        <a href="#hamburgers" class="category-item">
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/2ba06501eaaa98e4c7325ac00108b9d404b94e42ac628e02be0c2dca2bdb8615?apiKey=463a3b572a7c411f920925ed0322cb5e&" alt="Hamburger icon" class="category-icon" />
          <span class="category-name">Hamburguesas</span>
        </a>
      </div>
      <div class="category-container">
        <a href="#grills-and-chicken" class="category-item">
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/57231333368121ac88e5e00886de59b03d63e04894a565d90d092300b83256d7?apiKey=463a3b572a7c411f920925ed0322cb5e&" alt="Grill and chicken icon" class="category-icon" />
          <span class="category-name">Parrillas y Pollos</span>
        </a>
      </div>
      <div class="category-container">
        <a href="#main-dishes" class="category-item">
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/204f093c635f1f3eb4997cf30cf6ae98c039f099081c7107eb073ac75b5e0a24?apiKey=463a3b572a7c411f920925ed0322cb5e&" alt="Main dish icon" class="category-icon" />
          <span class="category-name">Platos de Fondo</span>
        </a>
      </div>
      <div class="category-container">
        <a href="#drinks" class="category-item">
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/6371e871d3891815ed8eefce350c4e49ddae213bde802249b3a1d48d559bb920?apiKey=463a3b572a7c411f920925ed0322cb5e&" alt="Drink icon" class="category-icon" />
          <span class="category-name">Bebidas</span>
        </a>
      </div>
      <div class="category-container">
        <a href="#sides" class="category-item">
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/8a4d9af3f49ca3f1897d6d6d8fd422a49d01c90e7526297d770e75b8f9c3520a?apiKey=463a3b572a7c411f920925ed0322cb5e&" alt="Side dish icon" class="category-icon" />
          <span class="category-name">Complementos</span>
        </a>
      </div>
    </nav>
  </section>