<div class="container">
  <ecommerce-nav-bar></ecommerce-nav-bar>

  <main>
    <section class="login-container">
      <div class="login-wrapper">
        <p-steps [(activeIndex)]="activeStep" [readonly]="false" styleClass="custom-steps">
          <p-step label="Correo Electrónico"></p-step>
          <p-step label="Ingresar OTP"></p-step>
          <p-step label="Nueva Contraseña"></p-step>
        </p-steps>

        <!-- Contenido del Primer Paso -->
        <div *ngIf="activeStep === 0" class="step-content">
          <div class="flex flex-column gap-2 mx-auto" style="min-height: 16rem; max-width: 20rem">
            <div class="text-center mt-3 mb-3 text-xl font-semibold">Ingrese su correo electrónico</div>
            <div class="field p-fluid">
              <span class="p-float-label">
                <input type="email" [(ngModel)]="email" id="email" class="custom-input" placeholder="" required />
                <label for="email">Email</label>
              </span>
            </div>
            <div class="flex pt-4 justify-content-end">
              <button (click)="nextStep()" class="custom-btn">Enviar</button>
            </div>
          </div>
        </div>

        <!-- Contenido del Segundo Paso -->
        <div *ngIf="activeStep === 1" class="step-content">
          <div class="flex flex-column gap-2 mx-auto " style="min-height: 16rem; max-width: 20rem;">
            <div class="text-center mt-3 mb-3 text-xl font-semibold">Ingrese el código OTP</div>
            <p-inputOtp [(ngModel)]="otpValue" class="custom-otp">
              <ng-template pTemplate="input" let-token let-events="events">
                <input
                  pInputText
                  class="custom-otp-input"
                  (input)="events.input($event)"
                  (keydown)="events.keydown($event)"
                  type="text"
                  [attr.value]="token"
                  [maxLength]="1" />
              </ng-template>
            </p-inputOtp>
            <div class="flex pt-4 justify-content-between">
              <button (click)="prevStep()" class="custom-btn">Atrás</button>
              <button (click)="nextStep()" class="custom-btn">Siguiente</button>
            </div>
          </div>
        </div>

        <!-- Contenido del Tercer Paso -->
        <div *ngIf="activeStep === 2" class="step-content">
          <div class="flex flex-column gap-2 mx-auto" style="min-height: 16rem; max-width: 20rem">
            <div class="text-center mt-3 mb-3 text-xl font-semibold">Ingrese su nueva contraseña</div>
              <div class="field p-fluid">
                <input  type="password" [(ngModel)]="newPassword" class="custom-input" placeholder="Nueva contraseña" />
              </div>
              <div class="field p-fluid">
                <input type="password" [(ngModel)]="confirmPassword" class="custom-input" placeholder="Repetir nueva contraseña" />
              </div>
              <div class="flex pt-4 justify-content-between">
                <button (click)="prevStep()" class="custom-btn">Atrás</button>
                <button (click)="saveNewPassword()" class="custom-btn">Guardar</button>
              </div>

          </div>
        </div>
      </div>
    </section>
  </main>

  <footer-ecommerce></footer-ecommerce>
</div>
<p-toast/>
