// Variables de colores y tipografía
@import "node_modules/primeng/resources/themes/aura-light-blue/theme.css";
@import "node_modules/primeng/resources/primeng.css";
@import "node_modules/primeicons/primeicons.css";
$primary-color    : #181C2E;
$secondary-color  : #FF910F;
$white-color      : #ffffff;
$gray-color       : #79797c;
$font-family      : 'Poppins', sans-serif;

.container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: center;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-wrapper {
  background-color: $white-color;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.custom-btn {
  background-color: $secondary-color;
  color: $white-color;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-family: $font-family;
  cursor: pointer;
  transition: background-color 0.3s;
  &:hover {
    background-color: darken($secondary-color, 10%);
  }
}
.p-inputotp {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
}
.custom-input {
  width: 100%;
  padding: 10px;
  border: 1px solid $gray-color;
  border-radius: 5px;
  font-family: $font-family;
  &:focus {
    border-color: $primary-color;
    outline: none;
  }
}

.custom-otp .custom-otp-input {
  width: 50px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  margin: 0 5px;
  border: 2px solid $gray-color;
  border-radius: 8px;
}

.custom-otp .custom-otp-input:focus {
  border-color: $primary-color;
  outline: none;
}
